*{
    margin: 0;
    padding: 0;
    font-family: cursive;
    list-style: none;
    text-decoration: none;
}

header{
    background-color: #eb001b;
    padding: 4rem;
    position: sticky;
    top: 0;
    left: 0;
}

header ul{
    display: flex;
    justify-content: end;
}

header li{
    margin-left: 40px;   
}

header a{
    font-size: larger;
    color: white;
}

header a:hover{
    color: #3b1a01;
}

#projeto{
    padding: 10em;
    background: rgb(235,0,27);
    background: linear-gradient(0deg, rgba(235,0,27,1) 0%, rgba(247,158,27,0.8156512605042017) 78%);
}

#projeto h1{
    font-size: 35px;
    margin-bottom: 30px;
}

#projeto p{ 
   font-size: 25PX;
   margin-bottom: 30px;
}

#projeto a button{
    font-size: 15px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
}

#projeto a button:hover{
    color: white;
    background-color: #3b1a01;
    transition: 0.8s;
}

#mentalidade{
    
    justify-content: space-between;
    background-color: black;
    padding: 10rem;
    color: white;
}

#mentalidade h1{
    font-size: 35px;
    margin-bottom: 30px;
}

#mentalidade p{ 
    font-size: 25PX;
    margin-bottom: 10px;  
    
}

#mentalidade a button{
    font-size: 15px;
    border-radius: 25px;
    width: 200px;
    height: 50px;
}

#mentalidade a button:hover{
    color: white;
    background-color: #3b1a01;
    transition: 0.8s;
}

#porOndeComecar{
    padding: 10em;
    background: rgb(235,0,27);
    background: linear-gradient(0deg, rgba(235,0,27,1) 0%, rgba(247,158,27,0.8156512605042017) 78%);
 }
 
 #porOndeComecar h1{
     font-size: 35px;
     margin-bottom: 30px;
 }
 
 #porOndeComecar p{ 
    font-size: 25PX;
    margin-bottom: 10px;
 }
 
 #porOndeComecar a button{
     font-size: 15px;
     border-radius: 25px;
     width: 200px;
     height: 50px;
     margin-top: 20px;
 }
 
 #porOndeComecar a button:hover{
     color: white;
     background-color: #3b1a01;
     transition: 0.8s;
 }
 
 #taxas{
    padding: 10em;
    background-image: url(img/yelowPig.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.925);
 }
 
 #taxas h1{
     font-size: 35px;
     color: white;
     margin-bottom: 30px;
 }
 
 #taxas p{ 
    font-size: 25PX;     
    margin-bottom: 10px;
    color: white;
 }
 
 #taxas a button{
     font-size: 15px;
     border-radius: 25px;
     width: 200px;
     height: 50px;
     margin-top: 30px;
 }
 
 #taxas a button:hover{
     color: white;
     background-color: #3b1a01;
     transition: 0.8s;
 }
 
 footer{
    background-color: #eb001b;
    padding: 2rem;
}

footer a{
    text-align: center;
    margin-bottom: 40px;
    color: black;
}

footer a:hover{
    color: white;
}

footer div{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

footer hr{
    width: 50vw;
    margin: 20px auto;
    color: black;
}

footer div a{
    font-size: large;
    color: white;
}

footer div a:hover{
    color: #3b1a01;
}

footer p{
    text-align: center;
    margin-top: 10px;
}
